@import "../scss/lightbar";
@import "../scss/header";

// Desktop nav spacing
.d-header .title {
  padding-left: 0.5em;
}

.d-header .panel {
  max-width: 100%;
}

.navigation-categories .category-list {
  margin-top: 1em;
}
